.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {  
  display: flex;
  background-color: #282c34;
  min-height: 100vh;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-input {
  height: 500px;
  border: 10px solid #61dafb;
  padding: 40px;
  font-size: 20px;
  border-radius: 5px;  
}

.App-input h1 {
  margin: 0;
}

.App-input input {
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  margin-top: 35px;
}

.App-input button {
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.App-list {
  height: 300px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 25px;
  font-size: 25px;
  margin-top: 15px;
  justify-items: left;
  background-color: white;
}

.todos {
  color: #454950;
  padding: 5px;
  text-align: left;
}

.todos button {
  margin-top: 2px;
  font-weight: 200;
}

.App-list button {
  padding: 3px;
  font-weight: 500;
  float: right;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
